<!--<div>
    <ul class="breadcrumb">
        <li>
            <a routerLink="/">首页</a> <span class="divider">/</span>
        </li>
        <li>
            <a>考试安排</a>
        </li>
    </ul>
</div>-->


<div class="row-fluid sortable ui-sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title="">
            <h2><i class="icon-edit"></i> 查找</h2>
        </div>
        <div class="box-content">
            <h5>学生信息</h5>
            <div class="span12">
                <div class="span6">
                    <!--<div id="DataTables_Table_0_length" class="dataTables_length"><label><select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> records per page</label></div>-->
                    <div class="span6">
                        <div class="dataTables_filter" id="DataTables_Table_0_filter"><label>班级: <input [(ngModel)]="ownPart" type="text" aria-controls="DataTables_Table_0" placeholder="班级"></label></div>
                    </div>

                    <div class="span6">
                        <div class="dataTables_filter" id="DataTables_Table_0_filter"><label>学号或姓名: <input [(ngModel)]="studentNoOrName" type="text" aria-controls="DataTables_Table_0" placeholder="学号或姓名"></label></div>
                    </div>
                </div>
                <div class="span6">
                    <button class="btn btn-success" (click)="searchStudent()">
                        <i class="icon-search"></i>
                        查找
                    </button>
                </div>
            </div>


            <h5 style="margin-top: 100px;">教师信息</h5>
            <div class="span12">
                <div class="span6">
                    <!--<div id="DataTables_Table_0_length" class="dataTables_length"><label><select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> records per page</label></div>-->
                    <!--<div class="span6">
                        <div class="dataTables_filter" id="DataTables_Table_0_filter"><label>班级: <input [value]="ownPart" (input)="search($event.target.value)" type="text" aria-controls="DataTables_Table_0" placeholder="班级"></label></div>
                    </div>-->

                    <div class="span6">
                        <div class="dataTables_filter" id="DataTables_Table_0_filter"><label>编号或姓名: <input [(ngModel)]="teacherNoOrName" type="text" aria-controls="DataTables_Table_0" placeholder="编号或姓名"></label></div>
                    </div>
                </div>
                <div class="span6">
                    <button class="btn btn-success"  (click)="searchTeacher()">
                        <i class="icon-search"></i>
                        查找
                    </button>
                </div>
            </div>

            <h5 style="margin-top: 100px;">课程信息</h5>
            <div class="span12">
                <div class="span6">
                    <!--<div id="DataTables_Table_0_length" class="dataTables_length"><label><select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> records per page</label></div>-->
                    <div class="span6">
                        <div class="dataTables_filter" id="DataTables_Table_0_filter">
                            <label>
                                专业:
                                <select [(ngModel)]="subject" class="from-control">
                                    <option value="">所有</option>
                                    <option value="计算机科学与技术">计算机科学与技术</option>
                                    <option value="数字媒体">数字媒体</option>
                                    <option value="网络工程">网络工程</option>
                                    <option value="信息管理">信息管理</option>
                                </select>
                            </label>
                        </div>
                    </div>

                    <div class="span6">
                        <div class="dataTables_filter" id="DataTables_Table_0_filter"><label>课程编号: <input [(ngModel)]="courseNo" type="text" aria-controls="DataTables_Table_0" placeholder="课程编号"></label></div>
                    </div>
                </div>
                <div class="span6">
                    <button class="btn btn-success" (click)="searchCourse()">
                        <i class="icon-search"></i>
                        查找
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--/span-->

    <div id="student-info-modal" class="modal fade bs-example-modal-lg modal-list" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">查找结果</h4>
                </div>
                <user-info-list [showType]="'filterResult'" [userType]="'学生'" [ownPart]="ownPart" [studentNoOrName]="studentNoOrName"></user-info-list>

                <div>
                    <button class="print-btn btn btn-default" onclick="window.print();">打印</button>
                </div>
            </div>
        </div>
    </div>

    <div id="teacher-info-modal" class="modal fade bs-example-modal-lg modal-list" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">查找结果</h4>
                </div>
                <user-info-list [showType]="'filterResult'" [userType]="'教师'" [teacherNoOrName]="teacherNoOrName"></user-info-list>

                <div>
                    <button class="print-btn btn btn-default" onclick="window.print();">打印</button>
                </div>
            </div>
        </div>
    </div>

    <div id="course-modal" class="modal fade bs-example-modal-lg modal-list" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">查找结果</h4>
                </div>
                <course-list [showType]="'filterResult'" [subject]="subject" [courseNo]="courseNo"></course-list>

                <div>
                    <button class="print-btn btn btn-default" onclick="window.print();">打印</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/row-->

