<!--<div>
    <ul class="breadcrumb">
        <li>
            <a routerLink="/">首页</a> <span class="divider">/</span>
        </li>
        <li>
            <a>添加评价留言</a>
        </li>
    </ul>
</div>-->


<div class="row-fluid sortable ui-sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title="">
            <h2><i class="icon-edit"></i> 添加评价留言</h2>
        </div>
        <div class="box-content">
            <form id="formData" class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="selectError3">选择的教师</label>
                        <div class="controls">
                            <select [(ngModel)]="selectedUserName" name="TeacherUserName">
                                <option value="">选择教师</option>
                                <option *ngFor="let item of teacherList; let i=index"  [value]="item.UserName">{{item.Name}}({{item.UserName}})</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="focusedInput">评价</label>
                        <div class="controls">
                            <textarea name="Contents" cols="30" rows="10" style="width:100%;"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="focusedInput">留言</label>
                        <div class="controls">
                            <textarea name="Reviews" cols="30" rows="10" style="width:100%;"></textarea>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button (click)="saveData()" type="button" class="btn btn-primary">添加</button>
                        <button class="btn" type="reset">重置</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
    <!--/span-->

</div>
<!--/row-->
