<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index.html" style="width: 300px;"> <img alt="Charisma Logo" src="/assets/img/logo20.png"> <span>校园信息管理系统</span></a>



            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                    <i class="icon-user"></i><span class="hidden-phone"> {{userName}}</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/">个人资料</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)" (click)="showPasswprdChangeFn()">修改密码</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)" (click)="logout()">退出登陆</a></li>
                </ul>
            </div>
            <!-- user dropdown ends -->

        </div>
    </div>
</div>



<div class="modal hide fade" id="myPswModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>密码修改</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid sortable ui-sortable">
            <div class="box span12">
                <div class="box-header well" data-original-title="">

                </div>
                <div class="box-content">
                    <form id="myPswData" class="form-horizontal">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">旧密码</label>
                                <div class="controls ">
                                    <input name="oldPassword" class="input-xlarge focused" type="password">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">新密码</label>
                                <div class="controls ">
                                    <input name="newPassword1" class="input-xlarge focused" type="password">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">再次输入新密码</label>
                                <div class="controls">
                                    <input name="newPassword2" class="input-xlarge focused" type="password">
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
            <!--/span-->

        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">取消</a>
        <a (click)="changePasswordFn()" class="btn btn-primary">保存修改</a>
    </div>
</div>