<div class="span2 main-menu-span">
    <div class="well nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li class="nav-header hidden-tablet">新闻公告</li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/news-list"><i class="icon-eye-open"></i><span class="hidden-tablet"> 新闻公告列表</span></a></li>
            <li class="nav-header hidden-tablet">评价留言</li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/review-list"><i class="icon-eye-open"></i><span class="hidden-tablet"> 评价留言列表</span></a></li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/review-add/review"><i class="icon-edit"></i><span class="hidden-tablet"> 添加评价</span></a></li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/review-add/message"><i class="icon-edit"></i><span class="hidden-tablet"> 添加留言</span></a></li>
            <li class="nav-header hidden-tablet">课程相关</li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/course-list/student"><i class="icon-eye-open"></i><span class="hidden-tablet"> 选课</span></a></li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/choose-list/student"><i class="icon-eye-open"></i><span class="hidden-tablet"> 已选课程</span></a></li>

            <li class="nav-header hidden-tablet">统一筛选模块</li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/filter"><i class="icon-eye-open"></i><span class="hidden-tablet"> 查找</span></a></li>
        </ul>

        <ul class="nav nav-tabs nav-stacked main-menu">
            <li class="nav-header hidden-tablet">用户信息</li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/user-list"><i class="icon-eye-open"></i><span class="hidden-tablet"> 用户账户列表</span></a></li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/user-list/info"><i class="icon-eye-open"></i><span class="hidden-tablet"> 用户信息列表</span></a></li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/user-add"><i class="icon-edit"></i><span class="hidden-tablet"> 添加新用户</span></a></li>
            <li class="nav-header hidden-tablet">新闻公告</li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/news-list/admin"><i class="icon-eye-open"></i><span class="hidden-tablet"> 新闻公告列表</span></a></li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/news-add"><i class="icon-edit"></i><span class="hidden-tablet"> 添加新闻公告</span></a></li>
            <li class="nav-header hidden-tablet">评价留言</li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/review-list/admin"><i class="icon-eye-open"></i><span class="hidden-tablet"> 评价留言列表</span></a></li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/review-add"><i class="icon-edit"></i><span class="hidden-tablet"> 添加评价留言</span></a></li>
            <li class="nav-header hidden-tablet">课程相关</li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/course-list/admin"><i class="icon-eye-open"></i><span class="hidden-tablet"> 课程列表</span></a></li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/course-add"><i class="icon-eye-open"></i><span class="hidden-tablet"> 添加课程</span></a></li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/choose-list/admin"><i class="icon-eye-open"></i><span class="hidden-tablet"> 学生选课列表</span></a></li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/score-input"><i class="icon-eye-open"></i><span class="hidden-tablet"> 成绩录入</span></a></li>

            <li class="nav-header hidden-tablet">统一筛选模块</li>
            <li style="margin-left: -2px;"><a class="ajax-link" routerLink="/filter"><i class="icon-eye-open"></i><span class="hidden-tablet"> 查找</span></a></li>
        </ul>
    </div>
    <!--/.well -->
</div>